<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'intensity_app/explore_style.css' %}">

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css"
      rel="stylesheet"
    />

    <title>Document</title>
  </head>
  <body>
    <div id="map" style="width: 100%; height: 100vh"></div>
    <div class="btn" id="btn">
      <img src={% static './intensity_app/images/gear.png' %} alt="">
    </div>
    <div class="map-controls">
      <div class="controls">
        <div class="search-year">
          <p>View by season</p>
          <div class="seasons">
            <a href="#" class="season">Active</a>
            <a href="#" class="season">2020</a>
            <a href="#" class="season">2019</a>
            <a href="#" class="season">2018</a>
          </div>
        </div>
        <div class="margin"></div>
        <div class="search-name">
          <p>Search by name</p>
          <form action="">
            <input type="text" placeholder="search hurricane" />
          </form>
        </div>
        <div class="margin"></div>
        <div class="search-date">
          <p>Search by date</p>
          <form action="">
            <input type="date" />
          </form>
        </div>
      </div>
    </div>
    <script>

          const btn = document.getElementById('btn');
          const control = document.querySelector('.map-controls')

          btn.addEventListener('click',() => {
              if(control.classList.contains('show-control')){
                  control.classList.remove('show-control')
              } else{
                  control.classList.add('show-control')
              }
          })

      mapboxgl.accessToken = 'pk.eyJ1IjoicHJpeWFuc2h1cDg5MSIsImEiOiJja3ppYnlwbnMyemkyMm5vMTByeXIwZHJvIn0.joRfFaZ6lJmH2U5OBtVGyg';
      const map = new mapboxgl.Map({
          container: 'map', // container ID
          style: 'mapbox://styles/priyanshup891/ckzdpbo1w005p14p93iljoz95', // style URL
          center: [85.324, 27.7172], // starting position [lng, lat]
          zoom: 1 // starting zoom
      });




      map.addControl(new mapboxgl.NavigationControl());

      {% for data in storms_list %}
      var marker1 = new mapboxgl.Marker()
      .setLngLat([{{data.longitude}}, {{data.latitude}}])
      .setPopup(new mapboxgl.Popup().setHTML("<h1>{{data.storm_name}}</h1>"))
      .addTo(map);
      {% endfor %}


      map.addLayer({
      'id': 'circle',
      'type': 'circle',
      'source': 'points',
      'paint': {
      'circle-color': '#4264fb',
      'circle-radius': 8,
      'circle-stroke-width': 2,
      'circle-stroke-color': '#ffffff'
      }
      });

      // Center the map on the coordinates of any clicked circle from the 'circle' layer.
      map.on('click', 'circle', (e) => {
      map.flyTo({
      center: e.features[0].geometry.coordinates
      });
      });

      // Change the cursor to a pointer when the it enters a feature in the 'circle' layer.
      map.on('mouseenter', 'circle', () => {
      map.getCanvas().style.cursor = 'pointer';
      });

      // Change it back to a pointer when it leaves.
      map.on('mouseleave', 'circle', () => {
      map.getCanvas().style.cursor = '';
      });
    </script>
  </body>
</html>
